@media (prefers-color-scheme: light) {

	#frmCadPatrimonio,
	#frmCadBIOS,
	#frmCadDocente {
		color: black;
	}

	#frmLogin *,
	#frmCadPatrimonio *,
	#frmCadBIOS *,
	#frmCadDocente *,
	#frmCadBIOSTable * {
		border-color: black;
	}

	#frmLogin {
		background-color: white;
	}

	#label {
		color: black;
	}
}

@media (prefers-color-scheme: dark) {

	#frmCadPatrimonio,
	#frmCadBIOS,
	#frmCadDocente {
		color: white;
	}

	#frmLogin *,
	#frmCadPatrimonio *,
	#frmCadBIOS *,
	#frmCadDocente *,
	#frmCadBIOSTable * {
		border-color: white;
	}

	#frmLogin {
		background-color: black;
	}

	#label {
		color: white;
	}
}

#frmLogin {
	margin-left: 300px;
	margin-top: -75px;
	width: 350px;
	height: 225px;
	border: 2px solid;
	border-radius: 20px;
	padding: 20px;
	text-align: center;
	box-shadow: 0px 0px 40px;
}

#frmCadBIOS {
	text-align: center;
	width: 700px;
	height: auto;
	margin-left: 150px;
}

#frmCadDocente {
	text-align: center;
	width: 800px;
	height: auto;
	margin-left: 100px;
}

#frmCadBIOS table {
	width: 700px;
	height: auto;
	border: 1px solid;
	padding: 5px;
	text-align: center;
}

#frmCadDocente table {
	width: 800px;
	height: auto;
	border: 1px solid;
	padding: 5px;
	text-align: center;
}

#frmGeneral table {
	margin-left: 100px;
	width: 800px;
	height: auto;
	border: 1px solid;
	padding: 5px;
	text-align: center;
}

#frmCadBIOS select,
textarea {
	width: 300px;
	border: 1px solid;
	padding: 5px;
	text-align: center;
}

#frmCadBIOSTable select {
	border: 1px solid;
	padding: 5px;
	text-align: center;
}

#frmCadDocente select,
textarea {
	width: 350;
	border: 1px solid;
	padding: 5px;
	text-align: center;
}

#frmGeneral td#label {
	text-align: right;
	width: 200px;
}