/*==================*/
/*FormataÃ§Ã£o do Menu*/
/*==================*/

@media (prefers-color-scheme: light) {
	#menu ul {
		/*Borda do menu cantos arredondados e fundo cinza escuro*/
		border-color: black;
		background-color: rgb(25, 81, 133);
	}

	#menu li a,
	li span {
		color: white;
	}

	#menu ul>li {
		/*Borda do lado esquerdo do item e um ao lado do outro com o float*/
		border-color: white;
		background-color: rgb(25, 81, 133);
	}

	#menu ul>li:hover {
		/*Este Ã© a cor do fundo quando o mouse passar por cima do item */
		background-color: cadetblue;
	}

	#menu li:hover ol {
		background-color: rgb(25, 81, 133);
		color: black;
	}

	#menu ol a:hover {
		background-color: cadetblue;
	}

	#menu li ol {
		border-color: white;
		background: grey;
		color: white;
	}

	#menu ol a {
		color: white;
	}

	#menu ol a:hover {		
		border-left: 5px solid;
		border-right: 5px solid;
		border-color: rgb(249, 202, 20);
	}
}

@media (prefers-color-scheme: dark) {
	#menu ul {
		/*Borda do menu cantos arredondados e fundo cinza escuro*/
		border-color: white;
		background-color: grey;
	}

	#menu li a,
	li span {
		color: white;
	}

	#menu ul>li {
		/*Borda do lado esquerdo do item e um ao lado do outro com o float*/
		border-color: white;
		background-color: grey;
	}

	#menu ul>li:hover {
		/*Este Ã© a cor do fundo quando o mouse passar por cima do item */
		background-color: black;
	}

	#menu li:hover ol {
		background-color: grey;
		color: white;
	}

	#menu ol a:hover {
		background-color: black;
	}

	#menu li ol {
		border-color: white;
		background-color: grey;
		color: white;
	}

	#menu ol a {
		color: white;
	}

	#menu ol a:hover {
		border-left: 5px solid;
		border-right: 5px solid;
		border-color: white;
	}
}

* {
	margin: 0;
	padding: 0;
}

#menu ul,
li,
span,
a {
	z-index: 2;
	display: block;
	overflow: hidden;
}

#menu ul {
	z-index: 2;
	border: 1px solid;
	border-radius: 15px 15px 0 0;
}

#menu ul>li {
	z-index: 2;
	border-left: 1px solid;
	float: left;
}


#menu ul>li:hover {
	z-index: 2;
	transition: all .5s;
}

#menu ul>li {
	z-index: 2;
	border-left: none;
	transition: all .5s;
}

#menu li a,
li span {
	z-index: 2;
	padding: 5px 5px;
	width: 188px;
	cursor: pointer;
	text-decoration: none;
	text-align: center;
}

#menu li:hover ol {
	z-index: 2;
	display: block;
	transition: all .5s;
}

#menu li ol {
	z-index: 2;
	margin-left: -1px;
	display: none;
	border: 1px solid;
	position: absolute;
}

#menu ol a {
	z-index: 2;
	padding: 5px 5px;
	width: 188px;
	text-align: center;
}

#menu ol a:hover {
	z-index: 2;
	text-decoration: underline;
	margin-right: -10px;
}


/*=========================*/
/*Fim da formataÃ§Ã£o do Menu*/
/*=========================*/