#dadosPatrimonio {
	width: 1000px;
	border: 1px solid white;
	border-radius: 5px;
	padding: 10px;
	margin-left: 0px;
}

#dadosBIOS {
	width: 700px;
	border: 1px solid white;
	border-radius: 5px;
	padding: 10px;
	margin-left: 150px;
}

#dadosDocente {
	width: 850px;
	border: 1px solid white;
	border-radius: 5px;
	padding: 10px;
	margin-left: 70px;
}

#dadosUsuario {
	width: 500px;
	border: 1px solid white;
	border-radius: 5px;
	padding: 10px;
	margin-left: 250px;
}

#cabecalho {
	height: 30px;
	background-color: rgb(80, 80, 80);
	font-weight: bold;
	text-align: center;
}

#dados {
	height: 50px;
	text-align: center;
	padding: 100px;
	color: white;
}

#dados:hover {
	background-color: rgb(0, 52, 95);
}

#tbCadNovoUsuario {
	border: 1px solid white;
	border-radius: 10px;
	padding: 10px;
	text-align: center;
	width: 700px;
	margin-left: 150px;
}

#tbPesquisarPatrimonio {
	width: 1000px;
	margin-left: 0px;
}

#tbPesquisarBIOS {
	width: 500px;
	margin-left: 250px;
}

#tbPesquisarDocente {
	width: 700px;
	margin-left: 170px;
}

#tbPesquisarPatrimonio input[type=submit] {
	width: 30px;
}

#tbPesquisarBIOS input[type=submit] {
	width: 30px;
}

#tbPesquisarDocente input[type=submit] {
	width: 30px;
}

#filterPatrimonio {
	width: 250px;
}

#filterBIOS {
	width: 100px;
}

#filterDocente {
	width: 100px;
} 

#search {
	font-size: 15px;
}

#search input[type=text] {
	padding: 2px;
}