@media (prefers-color-scheme: light) {

	#dadosPatrimonio,
	#dadosBIOS,
	#dadosDocente,
	#dadosUsuario {
		border-color: black;
	}

	#dados:hover {
		background-color: rgb(249, 202, 20);
		border: 10px solid red;
	}

	#tbCadNovoUsuario {
		border-color: black;
	}

	#cabecalho {
		background-color: gainsboro;
	}

	#filterPatrimonio,
	#filterDocente,
	#filterBIOS {
		background-color: white;
		color: black;
	}
}

@media (prefers-color-scheme: dark) {

	#dadosPatrimonio,
	#dadosBIOS,
	#dadosDocente,
	#dadosUsuario {
		border-color: white;
	}

	#dados:hover {
		background-color: rgb(0, 87, 158);
	}

	#tbCadNovoUsuario {
		border-color: white;
	}

	#cabecalho {
		background-color: rgb(80, 80, 80);
	}

	#filterPatrimonio,
	#filterDocente,
	#filterBIOS {
		background-color: black;
		color: white;
	}
}

#dadosPatrimonio {
	width: 1000px;
	border: 1px solid;
	border-radius: 15px;
	padding: 10px;
	margin-left: 0px;
}

#dadosBIOS {
	width: 700px;
	border: 1px solid;
	border-radius: 15px;
	padding: 10px;
	margin-left: 150px;
}

#dadosDocente {
	width: 850px;
	border: 1px solid;
	border-radius: 15px;
	padding: 10px;
	margin-left: 70px;
}

#dadosUsuario {
	width: 500px;
	border: 1px solid;
	border-radius: 15px;
	padding: 10px;
	margin-left: 250px;
}

#cabecalho {
	height: 30px;
	font-weight: bold;
	text-align: center;
	color: steelblue;
}

a {
	color: steelblue;
}

#dados {
	height: 30px;
	text-align: center;
}

#tbCadNovoUsuario {
	border: 1px solid;
	border-radius: 10px;
	padding: 10px;
	text-align: center;
	width: 700px;
	margin-left: 150px;
}

#tbPesquisar {
	width: 1000px;
	margin-left: 0px;
}

input[type=text] {
	border: 1px solid;
}

#filterPatrimonio,
#filterBIOS,
#filterDocente {
	width: auto;
}