@media(prefers-color-scheme: light) {

	#eraseButton:disabled,
	#eraseButton[disabled],
	#eraseButton[disabled]:hover,
	#registerButton:disabled,
	#registerButton[disabled],
	#registerButton[disabled]:hover,
	#updateButton:disabled,
	#updateButton[disabled],
	#updateButton[disabled]:hover,
	#searchButton:disabled,
	#searchButton[disabled],
	#searchButton[disabled]:hover {
		background-color: var(--light-disabled-button-backcolor);
		box-shadow: 0px 0px 3px var(--light-box-shadow-hover);
		color: var(--light-disabled-button-forecolor);
		cursor: default;
	}
}

@media(prefers-color-scheme: dark) {

	#eraseButton:disabled,
	#eraseButton[disabled],
	#eraseButton[disabled]:hover,
	#registerButton:disabled,
	#registerButton[disabled],
	#registerButton[disabled]:hover,
	#updateButton:disabled,
	#updateButton[disabled],
	#updateButton[disabled]:hover,
	#searchButton:disabled,
	#searchButton[disabled],
	#searchButton[disabled]:hover {
		background-color: var(--dark-disabled-button-backcolor);
		box-shadow: 0px 0px 3px var(--dark-box-shadow-hover);
		color: var(--dark-disabled-button-forecolor);
		cursor: default;
	}
}

#eraseButton {
	color: var(--erase-button-forecolor);
	margin: 10px;
}

#eraseButton:hover {
	background-color: var(--erase-button-hover-backcolor);
	color: var(--all-button-hover-forecolor);
	cursor: pointer;
}

#registerButton {
	color: var(--add-button-forecolor);
	margin: 10px;
}

#registerButton:hover {
	background-color: var(--add-button-hover-backcolor);
	color: var(--all-button-hover-forecolor);
	cursor: pointer;
}

#updateButton {
	color: var(--add-button-forecolor);
	margin: 10px;
}

#updateButton:hover {
	background-color: var(--add-button-hover-backcolor);
	color: var(--all-button-hover-forecolor);
	cursor: pointer;
}

#searchButton {
	color: var(--search-button-forecolor);
	margin: 10px;
}

#searchButton:hover {
	background-color: var(--search-button-hover-backcolor);
	color: var(--all-button-hover-forecolor);
	cursor: pointer;
}