@media (prefers-color-scheme: light) {

	#formAddAsset,
	#formAddModel,
	#formAddTeacher {
		color: black;
	}

	#formLogin *,
	#formAddAsset *,
	#formAddModel *,
	#formAddTeacher *,
	#formAddModelTable * {
		border-color: black;
	}

	#formLogin {
		background-color: white;
	}

	#label {
		color: black;
	}

	#asteriskWarning {
		color: darkblue;
	}
}

@media (prefers-color-scheme: dark) {

	#formAddAsset,
	#formAddModel,
	#formAddTeacher {
		color: white;
	}

	#formLogin *,
	#formAddAsset *,
	#formAddModel *,
	#formAddTeacher *,
	#formAddModelTable * {
		border-color: white;
	}

	#formLogin {
		background-color: black;
	}

	#label {
		color: white;
	}

	#asteriskWarning {
		color: lightblue;
	}
}

#formLogin {
	margin-left: 25px;
	margin-right: 25px;
	margin-top: -75px;
	height: 225px;
	border: 2px solid;
	border-radius: 20px;
	padding: 20px;
	text-align: center;
	box-shadow: 0px 0px 25px;
}

#formAddModel {
	text-align: center;
	width: auto;
	height: auto;
	margin-left: 150px;
}

#formAddTeacher {
	text-align: center;
	width: auto;
	height: auto;
	margin-left: 100px;
}

#formAddModel table {
	width: auto;
	height: auto;
	border: 0px solid;
	padding: 5px;
	text-align: center;
}

#formAddTeacher table {
	width: auto;
	height: auto;
	border: 0px solid;
	padding: 5px;
	text-align: center;
}

#formGeneral table {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height: auto;
	border: 0px solid;
	padding: 5px;
	text-align: center;
}

#formAddModel select,
textarea {
	width: auto;
	border: 1px solid;
	padding: 5px;
	text-align: center;
}

#formAddModelTable select {
	border: 1px solid;
	padding: 5px;
	text-align: center;
}

#formAddTeacher select,
textarea {
	width: auto;
	border: 1px solid;
	padding: 5px;
	text-align: center;
}

#formGeneral td#label {
	text-align: center;
	width: 25%;
}

#asterisk {
	color: red;
	background: none;
}