@media (prefers-color-scheme: light) {

	#frmCadPatrimonio,
	#frmCadBIOS,
	#frmCadDocente {
		color: black;
	}

	#frmLogin *,
	#frmCadPatrimonio *,
	#frmCadBIOS *,
	#frmCadDocente *,
	#frmCadBIOSTable * {
		border-color: black;
	}

	#frmLogin {
		background-color: white;
	}

	#label {
		color: black;
	}

	#asteriskWarning {
		color: darkblue;
	}
}

@media (prefers-color-scheme: dark) {

	#frmCadPatrimonio,
	#frmCadBIOS,
	#frmCadDocente {
		color: white;
	}

	#frmLogin *,
	#frmCadPatrimonio *,
	#frmCadBIOS *,
	#frmCadDocente *,
	#frmCadBIOSTable * {
		border-color: white;
	}

	#frmLogin {
		background-color: black;
	}

	#label {
		color: white;
	}

	#asteriskWarning {
		color: lightblue;
	}
}

#frmLogin {
	margin-left: 25px;
	margin-right: 25px;
	margin-top: -75px;
	height: 225px;
	border: 2px solid;
	border-radius: 20px;
	padding: 20px;
	text-align: center;
	box-shadow: 0px 0px 25px;
}

#frmCadBIOS {
	text-align: center;
	width: auto;
	height: auto;
	margin-left: 150px;
}

#frmCadDocente {
	text-align: center;
	width: auto;
	height: auto;
	margin-left: 100px;
}

#frmCadBIOS table {
	width: auto;
	height: auto;
	border: 0px solid;
	padding: 5px;
	text-align: center;
}

#frmCadDocente table {
	width: auto;
	height: auto;
	border: 0px solid;
	padding: 5px;
	text-align: center;
}

#frmGeneral table {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height: auto;
	border: 0px solid;
	padding: 5px;
	text-align: center;
}

#frmCadBIOS select,
textarea {
	width: auto;
	border: 1px solid;
	padding: 5px;
	text-align: center;
}

#frmCadBIOSTable select {
	border: 1px solid;
	padding: 5px;
	text-align: center;
}

#frmCadDocente select,
textarea {
	width: auto;
	border: 1px solid;
	padding: 5px;
	text-align: center;
}

#frmGeneral td#label {
	text-align: center;
	width: 25%;
}

#asterisk {
	color: red;
	background: none;
}