@media (prefers-color-scheme: light) {
	input {
		background-color: white;
		border-color: black;
		color: black;
	}

	#formFields td {
		border: 1px solid gainsboro;
	}

	#registerButton {
		border-color: black;
		background-color: white;
	}

	#registerButton:hover {
		color: black;
		border-color: black;
	}

	#eraseButton {
		border-color: black;
		background-color: white;
	}

	#eraseButton:hover {
		border-color: black;
	}

	#updateButton {
		border-color: black;
		background-color: white;
	}

	#updateButton:hover {
		color: black;
	}

	#searchButton {
		border-color: black;
		background-color: white;
	}

	#searchButton:hover {
		color: black;
	}

	select,
	option,
	textarea {
		background-color: white;
		color: black;
	}

	input,
	select,
	textarea {
		box-shadow: 0px 0px 5px rgb(0,0,0,.3);
		transition: all .4s ease-in-out;
	}

	input:hover,
	select:hover,
	textarea:hover {
		box-shadow: 0px 0px 5px rgb(0,0,0,1);
		transition: all .4s ease-in-out;
	}
}

@media (prefers-color-scheme: dark) {
	input {
		background-color: black;
		border-color: white;
		color: white;
	}

	#formFields td {
		border: 1px solid rgb(80, 80, 80);
	}

	#registerButton {
		border-color: white;
		background-color: black;
	}

	#registerButton:hover {
		color: white;
		border-color: white;
	}

	#eraseButton {
		border-color: white;
		background-color: black;
	}

	#eraseButton:hover {
		border-color: white;
	}

	#updateButton {
		border-color: white;
		background-color: black;
	}

	#updateButton:hover {
		color: white;
	}

	#searchButton {
		border-color: white;
		background-color: black;
	}

	#searchButton:hover {
		color: white;
	}

	select,
	option,
	textarea {
		background-color: black;
		color: white;
	}

	input,
	select,
	textarea {
		box-shadow: 0px 0px 5px rgb(255,255,255,.3);
		transition: all .4s ease-in-out;
	}

	input:hover,
	select:hover,
	textarea:hover {
		box-shadow: 0px 0px 5px rgb(255,255,255,1);
		transition: all .4s ease-in-out;
	}
}

input[type=text],
input[type=date],
input[type=email],
input[type=password],
input[type=submit],
select,
textarea {
	border: 2px;
	border-style: solid;
	text-align: center;
	width: 100%;
	border-radius: 8px;
	padding: 7px;
}

input[type=submit] {
	border-radius: 30px;
}

input[type=submit] {
	width: auto;
}

input[type=submit]:hover {
	background-color: gray;
}

#formFields input[type=text],
#formFields input[type=date],
#formFields input[type=email],
#formFields input[type=password],
#formFields select,
#formFields textarea {
	width: 100%;
}

#eraseButton {
	width: auto;
	color: red;
}

#eraseButton:hover {
	background-color: darkred;
	color: white;
}

#registerButton {
	width: auto;
	color: green;
}

#registerButton:hover {
	background-color: darkgreen;
}

#updateButton {
	color: green;
}

#updateButton:hover {
	background-color: darkgreen;
}

#searchButton {
	width: auto;
	color: orange;
}

#searchButton:hover {
	background-color: darkorange;
}

#missPlusButton {
	width: 30px;
	height: 30px;
	vertical-align: middle;
	border-radius: 0px;
	color: darkgreen;
}

#missPlusButton:hover {
	background-color: darkgreen;
	color: white;
	border-color: darkgreen;
}

#missMinusButton {
	width: 30px;
	height: 30px;
	vertical-align: middle;
	border-radius: 0px;
	color: firebrick;
}

#missMinusButton:hover {
	background-color: darkred;
	color: white;
	border-color: darkred;
}