@media (prefers-color-scheme: light) {

	input,
	select,
	option,
	textarea {
		background-color: var(--light-input-backcolor);
		box-shadow: 0px 0px 10px var(--light-box-shadow);
		color: var(--light-input-forecolor);
		transition: all .3s ease-in-out;
	}

	#formFields td {
		border-color: var(--light-section-header);
	}

	input:hover,
	select:hover,
	textarea:hover {
		box-shadow: 0px 0px 15px var(--light-box-shadow-hover);
		transition: all .3s ease-in-out;
	}

	input[type=text],
	input[type=number],
	input[type=date],
	input[type=email],
	input[type=password],
	input[type=submit],
	input[type=button],
	select,
	textarea {
		border-color: var(--light-border-color);
	}
}

@media (prefers-color-scheme: dark) {

	input,
	select,
	option,
	textarea {
		background-color: var(--dark-input-backcolor);
		box-shadow: 0px 0px 10px var(--dark-box-shadow);
		color: var(--dark-input-forecolor);
		transition: all .3s ease-in-out;
	}

	#formFields td {
		border-color: var(--dark-section-header);
	}

	input:hover,
	select:hover,
	textarea:hover {
		box-shadow: 0px 0px 15px var(--dark-box-shadow-hover);
		transition: all .3s ease-in-out;
	}

	input[type=text],
	input[type=number],
	input[type=date],
	input[type=email],
	input[type=password],
	input[type=submit],
	input[type=button],
	select,
	textarea {
		border-color: var(--dark-border-color);
	}
}

input[type=text],
input[type=number],
input[type=date],
input[type=email],
input[type=password],
input[type=submit],
input[type=button],
select,
textarea {
	border-radius: 6px;
	border-style: solid;
	border-width: 0px;
	margin-bottom: 5px;
	margin-top: 5px;
	padding: 7px;
	text-align: center;
}

input[type=submit],
input[type=button] {
	border-radius: 30px;
}

input[type=submit],
input[type=button] {
	width: auto;
}

#formFields input[type=text],
#formFields input[type=number],
#formFields input[type=date],
#formFields input[type=email],
#formFields input[type=password],
#formFields select,
#formFields textarea {
	box-sizing: border-box;
	margin-bottom: 5px;
	margin-top: 5px;
	width: 98%;
}

#formFields td {
	border-left-style: solid;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-width: 1px;
	padding-left: 10px;
	padding-right: 10px;
}