@media (prefers-color-scheme: light) {

	#assetData,
	#modelData,
	#employeeData,
	#userData {
		border-color: black;
	}

	#assetData td,
	#modelData td,
	#employeeData td,
	#userData td {
		border: 1px solid gainsboro;
	}

	#assetData thead th,
	#modelData thead th,
	#employeeData thead th,
	#userData thead th {
		background-color: gainsboro;
	}

	#data:hover {
		background-color: rgb(249, 202, 20);
	}

	#header_ {
		background-color: gainsboro;
	}

	#filterAsset,
	#filterEmployee,
	#filterModel {
		background-color: white;
		color: black;
	}

	#bodyTable {
		background-color: aliceblue;
	}

	#bodyTable label {
		color: darkblue;
	}

	#headerTable {
		background-color: powderblue;
	}
}

@media (prefers-color-scheme: dark) {

	#assetData,
	#modelData,
	#employeeData,
	#userData {
		border-color: white;
	}

	#assetData td,
	#modelData td,
	#employeeData td,
	#userData td {
		border: 1px solid rgb(80, 80, 80);
	}

	#assetData thead th,
	#modelData thead th,
	#employeeData thead th,
	#userData thead th {
		background-color: rgb(80, 80, 80);
	}

	#data:hover {
		background-color: rgb(0, 87, 158);
	}

	#header_ {
		background-color: rgb(80, 80, 80);
	}

	#filterAsset,
	#filterEmployee,
	#filterModel {
		background-color: black;
		color: white;
	}

	#bodyTable {
		background-color: black;
	}

	#bodyTable label {
		color: white;
	}

	#headerTable {
		background-color: rgb(0, 87, 158);
	}
}

.unselectable {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#assetData {
	width: 100%;
	border: 0px solid;
	border-radius: 15px;
	padding: 0px;
	margin-left: auto;
	margin-right: auto;
}

#assetData thead th,
#modelData thead th,
#employeeData thead th,
#userData thead th {
	position: sticky;
	top: 0;
	z-index: 1;
}

#modelData {
	width: 100%;
	border: 0px solid;
	border-radius: 15px;
	padding: 0px;
	margin-left: auto;
	margin-right: auto;
}

#employeeData {
	width: 100%;
	border: 0px solid;
	border-radius: 15px;
	padding: 0px;
	margin-left: auto;
	margin-right: auto;
}

#userData {
	width: 100%;
	border: 0px solid;
	border-radius: 15px;
	padding: 0px;
	margin-left: auto;
	margin-right: auto;
}

#header_ {
	height: 30px;
	font-weight: bold;
	text-align: center;
	color: steelblue;
}

a {
	color: steelblue;
}

#data {
	height: 30px;
	text-align: center;
}

#tbSearch {
	width: auto;
	margin-left: auto;
	margin-right: auto;
}

input[type=text] {
	border: 1px solid;
}

#filterAsset,
#filterModel,
#filterEmployee {
	width: 350px;
}

#bodyTable td,
#headerTable td {
	border: 1px solid;
}

#inactive {
	font-style: italic;
	opacity: 0.4;
}