.slide {
	clear: both;
	max-height: 0;
	overflow: hidden;
	text-align: center;
	transition: max-height .4s ease;
	width: 100%;
}

#hov:hover+.slide,
#menu ol:hover {
	display: block;
	max-height: 200px;
	width: 200px;
}