:root {
    --add-button-forecolor: green;
    --add-button-hover-backcolor: darkgreen;
    --all-button-hover-forecolor: white;
    --asterisk: red;
    --dark-asterisk-warning: lightblue;
    --dark-backcolor: rgb(32, 32, 32);
    --dark-backcolor-foot: rgb(70, 70, 70);
    --dark-backcolor-top: rgb(70, 70, 70);
    --dark-background: black;
    --dark-band: rgb(0, 87, 158);
    --dark-border: white;
    --dark-border-color: rgb(131, 131, 131);
    --dark-box-shadow: rgb(255, 255, 255, .3);
    --dark-box-shadow-hover: rgb(255, 255, 255, 1);
    --dark-disabled-button-backcolor: rgb(32, 32, 32);
    --dark-disabled-button-forecolor: gray;
    --dark-forecolor: white;
    --dark-forecolor-foot: white;
    --dark-input-backcolor: black;
    --dark-input-forecolor: white;
    --dark-overlay-transparency: rgba(0, 0, 0, 0.7);
    --dark-section-header: rgb(70, 70, 70);
    --dark-subtle-lightcolor: #c0c0c0;
    --dark-table-header: rgb(70, 70, 70);
    --dark-table-header-forecolor: white;
    --erase-button-forecolor: red;
    --erase-button-hover-backcolor: darkred;
    --error-forecolor: red;
    --in-use-forecolor: green;
    --light-asterisk-warning: darkblue;
    --light-backcolor: rgb(248, 248, 248);
    --light-backcolor-foot: rgb(25, 81, 133);
    --light-backcolor-top: rgb(25, 81, 133);
    --light-background: white;
    --light-band: rgb(249, 202, 20);
    --light-border: black;
    --light-border-color: rgb(173, 173, 173);
    --light-box-shadow: rgb(0, 0, 0, .3);
    --light-box-shadow-hover: rgb(0, 0, 0, 1);
    --light-disabled-button-backcolor: rgb(248, 248, 248);
    --light-disabled-button-forecolor: gray;
    --light-forecolor: black;
    --light-forecolor-foot: white;
    --light-input-backcolor: white;
    --light-input-forecolor: black;
    --light-overlay-transparency: rgba(255, 255, 255, 0.7);
    --light-section-header: rgb(25, 81, 133);
    --light-subtle-darkcolor: #2f4f4f;
    --light-table-header: rgb(25, 81, 133);
    --light-table-header-forecolor: white;
    --missing-data-background: darkred;
    --missing-data-foreground: white;
    --non-operational-forecolor: firebrick;
    --not-in-use-forecolor: red;
    --operational-forecolor: rgb(0, 120, 215);
    --search-button-forecolor: orange;
    --search-button-hover-backcolor: darkorange;
    --shadow-forecolor: black;
    --success-forecolor: rgb(31, 170, 31);
    --update-available-forecolor: CornflowerBlue;
    --updated-forecolor: lime;
}