@media (prefers-color-scheme: light) {

	#formAddModel,
	#formAddEmployee {
		color: black;
	}

	#formLogin *,
	#formAddModel *,
	#formAddEmployee * {
		border-color: black;
	}

	#formLogin {
		background-color: white;
	}

	#label {
		color: black;
	}

	#asteriskWarning {
		color: darkblue;
	}
}

@media (prefers-color-scheme: dark) {

	#formAddModel,
	#formAddEmployee {
		color: white;
	}

	#formLogin *,
	#formAddModel *,
	#formAddEmployee * {
		border-color: white;
	}

	#formLogin {
		background-color: black;
	}

	#label {
		color: white;
	}

	#asteriskWarning {
		color: lightblue;
	}
}

#formLogin {
	margin-left: 400px;
	margin-top: -75px;
	width: 350px;
	height: 245px;
	border: 2px solid;
	border-radius: 20px;
	padding: 20px;
	text-align: center;
	box-shadow: 0px 0px 40px;
}

#formGeneral table {
	margin-left: 100px;
	width: 1000px;
	height: auto;
	border: 1px solid;
	padding: 5px;
	text-align: center;
}

#formGeneral td#label {
	text-align: center;
	width: 25%;
}

#asterisk {
	color: red;
	background: none;
}