@media (prefers-color-scheme: light) {

	#formAddModel,
	#formAddEmployee {
		color: black;
	}

	#formLogin *,
	#formAddModel *,
	#formAddEmployee * {
		border-color: black;
	}

	#formLogin {
		background-color: var(--light-background);
	}

	#formGeneral td#lblData {
		color: var(--light-subtle-darkcolor);
	}

	#lblFixed {
		color: var(--light-forecolor);
	}

	#asteriskWarning {
		color: darkblue;
	}
}

@media (prefers-color-scheme: dark) {

	#formAddModel,
	#formAddEmployee {
		color: white;
	}

	#formLogin *,
	#formAddModel *,
	#formAddEmployee * {
		border-color: white;
	}

	#formLogin {
		background-color: var(--dark-background);
	}

	#formGeneral td#lblData {
		color: var(--dark-subtle-lightcolor);
	}

	#lblFixed {
		color: var(--dark-forecolor);
	}

	#asteriskWarning {
		color: lightblue;
	}
}

#formLogin {
	margin-left: 400px;
	margin-top: -75px;
	width: 350px;
	height: 245px;
	border: 2px solid;
	border-radius: 20px;
	padding: 20px;
	text-align: center;
	box-shadow: 0px 0px 40px;
}

#formGeneral table {
	margin-left: 100px;
	width: 1000px;
	height: auto;
	border: 1px solid gray;
	padding: 5px;
	text-align: center;
	border-collapse: collapse;
}

#formGeneral td#lblFixed {
	text-align: right;
	width: 40%;
}

#formGeneral td#lblSeparator {
	text-align: center;
	width: 5%;
}

#formGeneral td#lblData {
	text-align: left;
	width: 55%;
}

#asterisk {
	color: var(--asterisk);
	background: none;
}