@media (prefers-color-scheme: light) {

    #storageOverlay td,
    #ramOverlay td,
    #videoCardOverlay td,
    #processorOverlay td {
        border-color: var(--light-border);
    }

    #window {
        background-color: var(--light-backcolor);
        border-color: var(--light-backcolor);
    }

    #title {
        background-color: var(--light-background);
        border-color: var(--light-backcolor);
    }
}

@media (prefers-color-scheme: dark) {

    #storageOverlay td,
    #ramOverlay td,
    #videoCardOverlay td,
    #processorOverlay td {
        border-color: var(--dark-border);
    }

    #window {
        background-color: var(--dark-backcolor);
        border-color: var(--dark-backcolor);
    }

    #title {
        background-color: var(--dark-background);
        border-color: var(--dark-backcolor);
    }
}

#storageOverlay,
#ramOverlay,
#videoCardOverlay,
#processorOverlay {
    backdrop-filter: blur(7px);
    bottom: 0;
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 2;
}

#window {
    border: 1px solid;
    bottom: 0;
    height: 18%;
    left: 0;
    margin: auto;
    overflow: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 60%;
}

#closeButton {
    position: absolute;
    right: 49%;
    top: 65%;
}

#storageOverlay table,
#ramOverlay table,
#videoCardOverlay table,
#processorOverlay table {
    border: 1px solid;
    border-collapse: collapse;
    bottom: 0;
    left: 0;
    margin: 10px;
    position: absolute;
    right: 0;
    table-layout: auto;
    top: 0;
    width: 98%;
}

#storageOverlay td,
#ramOverlay td,
#videoCardOverlay td,
#processorOverlay td {
    border: 1px solid;
}

#title {
    border: 1px solid;
    display: inline-block;
    font-size: 25px;
    margin: 0 auto;
    margin-top: 15%;
    padding: 3px;
}