@media (prefers-color-scheme: light) {
	:root {
		color-scheme: light;
	}

	body {
		background: var(--light-background);
		color: var(--light-forecolor);
	}

	#top,
	#middle {
		background-color: var(--light-backcolor);
	}

	#section-header {
		background-color: var(--light-section-header);
		color: var(--light-table-header-forecolor);
	}

	#h-separator {
		border-top-color: var(--light-section-header);
	}

	#foot-up,
	#foot-down {
		background: var(--light-backcolor-foot);
		color: var(--light-forecolor-foot);
	}

	#band {
		background-color: var(--light-band);
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		color-scheme: dark;
	}

	body {
		background: var(--dark-background);
		color: var(--dark-forecolor);
	}

	#top,
	#middle {
		background-color: var(--dark-backcolor);
	}

	#section-header {
		background-color: var(--dark-section-header);
		color: var(--dark-table-header-forecolor);
	}

	#h-separator {
		border-top-color: var(--dark-section-header);
	}

	#foot-up,
	#foot-down {
		background: var(--dark-backcolor-foot);
		color: var(--dark-forecolor-foot);
	}

	#band {
		background-color: var(--dark-band);
	}
}

@font-face {
	font-family: Exo;
	src: url("../fonts/NotoSans-Light.ttf");
}

html {
	overflow-y: scroll;
}

* {
	font-family: Exo;
}

textarea {
	resize: vertical;
}

body,
input,
textarea,
select {
	font-size: 16px;
	padding: 5px;
}

table {
	border-style: hidden;
	border-width: 0px;
	font-size: 18px;
}

#container {
	border: 0px solid;
	border-radius: 5px;
	box-shadow: 0px 0px 0px;
	height: 200px;
	margin: 0 auto;
	padding: 0px;
	position: relative;
	width: 1200px;
}

#top {
	border-radius: 15px;
	text-align: center;
	width: 1202px;
}

#middle {
	height: auto;
	padding-bottom: 20px;
	padding-top: 20px;
	text-align: center;
	vertical-align: middle;
	width: 1200px;
}

#foot-up {
	text-align: center;
	width: 1200px;
}

#foot-down {
	border-radius: 0 0 15px 15px;
	margin-bottom: 5px;
	text-align: center;
	width: 1200px;
}

#section-header {
	font-size: larger;
	font-weight: bold;
	text-align: center;
}

#h-separator {
	border-style: dotted;
	border-width: 1px;
}

#band {
	font-size: 2px;
	width: 1200px;
}

.readonly {
	pointer-events: none;
}

#linksameline {
	display: inline;
}