@media (prefers-color-scheme: light) {
	:root {
		color-scheme: light;
	}

	body {
		background: var(--light-background);
		color: var(--light-forecolor);
	}

	#top,
	#middle {
		background-color: var(--light-backcolor);
	}

	#spacer {
		background-color: var(--light-spacer);
	}

	#foot-up,
	#foot-down {
		background: var(--light-backcolor-foot);
		color: var(--light-forecolor-foot);
	}

	#band {
		background-color:var(--light-band);
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		color-scheme: dark;
	}
	
	body {
		background: var(--dark-background);
		color: var(--dark-forecolor);
	}

	#top,
	#middle {
		background-color: var(--dark-backcolor);
	}

	#spacer {
		background-color: var(--dark-spacer);
	}

	#foot-up,
	#foot-down {
		background: var(--dark-backcolor-foot);
		color: var(--dark-forecolor-foot);
	}

	#band {
		background-color:var(--dark-band);
	}
}

@font-face {
	font-family: Exo;
	src: url("../fonts/NotoSans-Light.ttf");
}

html {
	overflow-y: scroll;
}

* {
	font-family: Exo;
}

textarea {
	resize: vertical;
}

body,
input,
textarea,
select {
	font-size: 16px;
	padding: 5px;
}

table {
	font-size: 18px;
	border-style: hidden;
	border-width: 0px;
}

#container {
	width: 1200px;
	height: 200px;
	position: relative;
	margin: 0 auto;
	padding: 0px;
	border: 0px solid;
	border-radius: 5px;
	box-shadow: 0px 0px 0px;
}

#top {
	width: 1202px;
	text-align: center;
	border-radius: 15px;
}

#middle {
	width: 1200px;
	height: auto;
	text-align: center;
	vertical-align: middle;
	padding-bottom: 20px;
	padding-top: 20px;
}

#foot-up {
	width: 1200px;
	text-align: center;
}

#foot-down {
	width: 1200px;
	text-align: center;
	border-radius: 0 0 15px 15px;
	margin-bottom: 5px;
}

#spacer {
	font-weight: bold;
	text-align: center;
	border: 1px solid;
}

#band {
	font-size:2px;
	width: 1200px;
}

.readonly {
	pointer-events: none;
}

#linksameline {
    display: inline;
}