@media (prefers-color-scheme: light) {

	#assetData,
	#modelData,
	#employeeData,
	#userData {
		border-color: var(--light-table-header);
	}

	#assetData td,
	#modelData td,
	#employeeData td,
	#userData td {
		border: 1px solid transparent;
	}

	#assetData thead th,
	#modelData thead th,
	#employeeData thead th,
	#userData thead th {
		background-color: var(--light-section-header);
	}

	#data:hover {
		background-color: var(--light-band);
	}

	#bodyTable {
		background-color: var(--light-backcolor);
		color: var(--light-subtle-darkcolor);
	}

	#headerTable {
		background-color: var(--light-table-header);
		color: var(--light-table-header-forecolor);
	}

	#header_ tr>th>a {
		color: var(--light-table-header-forecolor);
	}

	#tableList:hover {
		background-color: var(--light-band);
	}

	a {
		color: var(--light-forecolor);
	}
}

@media (prefers-color-scheme: dark) {

	#assetData,
	#modelData,
	#employeeData,
	#userData {
		border-color: var(--dark-table-header);
	}

	#assetData td,
	#modelData td,
	#employeeData td,
	#userData td {
		border: 1px solid transparent;
	}

	#assetData thead th,
	#modelData thead th,
	#employeeData thead th,
	#userData thead th {
		background-color: var(--dark-section-header);
	}

	#data:hover {
		background-color: var(--dark-band);
	}

	#bodyTable {
		background-color: var(--dark-backcolor);
		color: var(--dark-subtle-lightcolor);
	}

	#headerTable {
		background-color: var(--dark-table-header);
		color: var(--dark-table-header-forecolor);
	}

	#header_ tr>th>a {
		color: var(--dark-table-header-forecolor);
	}

	#tableList:hover {
		background-color: var(--dark-band);
	}

	a {
		color: var(--dark-forecolor);
	}
}

.unselectable {
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	user-select: none;
}

#assetData,
#modelData,
#employeeData,
#userData {
	border-radius: 15px;
	border-style: solid;
	border-width: 1px;
	margin-left: 50px;
	padding: 10px;
	width: 1100px;
}

#assetData thead,
#modelData thead,
#employeeData thead,
#userData thead,
#processorData thead,
#ramData thead,
#videoCardData thead,
#storageData thead {
	position: sticky;
	top: 0;
	z-index: 1;
}

#header_,
#data {
	height: 30px;
	text-align: center;
}

#tbSearch {
	margin-left: 0px;
	width: 100%;
}

input[type=text] {
	border: 1px solid;
}

#filterAsset,
#filterModel,
#filterEmployee {
	width: 350px;
}

#bodyTable td,
#headerTable td {
	border: 1px solid;
}

#subHeaderTable td {
	border-bottom: 1px dotted;
	border-top: 2px solid;
}

#subHeaderTable label {
	font-size: larger;
	font-weight: bold;
}

#inactive {
	font-style: italic;
	opacity: 0.4;
}

#tableList:hover {
	transition: all .2s ease-in-out;
}

a {
	cursor: pointer;
	text-decoration: underline;
}