@media (prefers-color-scheme: light) {

	#assetData,
	#modelData,
	#employeeData,
	#userData {
		border-color: black;
	}

	#assetData td,
	#modelData td,
	#employeeData td,
	#userData td {
		border: 1px solid gainsboro;
	}

	#assetData thead th,
	#modelData thead th,
	#employeeData thead th,
	#userData thead th {
		background-color: gainsboro;
	}

	#data:hover {
		background-color: rgb(249, 202, 20);
	}

	#header_ {
		background-color: gainsboro;
	}

	#filterAsset,
	#filterEmployee,
	#filterModel {
		background-color: white;
		color: black;
	}

	#bodyPreviousMaintenance {
		background-color: aliceblue;
	}

	#bodyPreviousMaintenance label {
		color: darkblue;
	}

	#headerPreviousMaintenance {
		background-color: powderblue;
	}
}

@media (prefers-color-scheme: dark) {

	#assetData,
	#modelData,
	#employeeData,
	#userData {
		border-color: white;
	}

	#assetData td,
	#modelData td,
	#employeeData td,
	#userData td {
		border: 1px solid rgb(80, 80, 80);
	}

	#assetData thead th,
	#modelData thead th,
	#employeeData thead th,
	#userData thead th {
		background-color: rgb(80, 80, 80);
	}

	#data:hover {
		background-color: rgb(0, 87, 158);
	}

	#header_ {
		background-color: rgb(80, 80, 80);
	}

	#filterAsset,
	#filterEmployee,
	#filterModel {
		background-color: black;
		color: white;
	}

	#bodyPreviousMaintenance {
		background-color: black;
	}

	#bodyPreviousMaintenance label {
		color: lime;
	}

	#headerPreviousMaintenance {
		background-color: darkslategray;
	}
}

.unselectable {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#assetData {
	width: 1200px;
	border: 1px solid;
	border-radius: 15px;
	padding: 10px;
	margin-left: 0px;
}

#assetData thead th,
#modelData thead th,
#employeeData thead th,
#userData thead th {
	position: sticky;
	top: 0;
	z-index: 1;
}

#modelData {
	width: 1000px;
	border: 1px solid;
	border-radius: 15px;
	padding: 10px;
	margin-left: 100px;
}

#employeeData {
	width: 1000px;
	border: 1px solid;
	border-radius: 15px;
	padding: 10px;
	margin-left: 100px;
}

#userData {
	width: 700px;
	border: 1px solid;
	border-radius: 15px;
	padding: 10px;
	margin-left: 250px;
}

#header_ {
	height: 30px;
	font-weight: bold;
	text-align: center;
	color: steelblue;
}

a {
	color: steelblue;
}

#data {
	height: 30px;
	text-align: center;
}

#tbSearch {
	width: 100%;
	margin-left: 0px;
}

input[type=text] {
	border: 1px solid;
}

#filterAsset,
#filterModel,
#filterEmployee {
	width: 300px;
}

#bodyPreviousMaintenance td,
#headerPreviousMaintenance td {
	border: 1px solid;
}

#inactive {
	font-style: italic;
	opacity: 0.4;
}